.o_dhx_gantt_root {
    /* width: 100%; */
    height: 100%;
}

.o_dhx_gantt {
    /* width: 100%; */
    height: 100%;
}

.o_dhx_gantt.gantt_container {}

.o_dhx_gantt_header {
    background-color: white;
    min-height: 40px;
    /* position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex; */
    /* justify-content: space-between; */
    /* padding: 0.25rem 0.5rem;
    padding-left: 16px;
    border-bottom: 1px solid #ced4da;
    background-color: white; */
}

.o_dhx_button {
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.o_dhx_button_right {
    float: right;
    margin-right: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.o_dhx_gantt_weekend {
    background: #d7aed1 !important;
}

.o_dhx_gantt_hourleaves {
    background: #f1f1f1 !important;
    color: gray !important;
}


// Define the necessary conditions to provide visual feedback on hover,
// focus, drag, clone and resize.
@mixin o-gantt-hover() {

    &:hover,
    &:focus,
    &.ui-draggable-dragging,
    &.ui-resizable-resize {

        // Avoid visual feedback if 'o_gantt_view' has class 'o_grabbing' or 'o_copying'.
        @at-root #{selector-replace(&, ".o_gantt_view", ".o_gantt_view:not(.o_grabbing):not(.o_copying):not(.o_no_dragging)")} {
            @content;
        }
    }
}

// Generate background and text for each color.
@mixin o_dhx_hoverable_colors($color) {
    $color-subdle: mix($color, white, 60%);
    color: color-yiq($color-subdle);
    background-color: $color-subdle;
    cursor: pointer;

    @include o-gantt-hover() {
        background-color: $color;
        color: color-yiq($color);
    }
}

@mixin o_dhx_text_colors($color) {
    $color-subdle: mix($color, white, 60%);
    color: color-yiq($color-subdle);

    @include o-gantt-hover() {
        color: color-yiq($color);
    }
}

// Generate stripes decorations for each color.
@mixin o_dhx_decorations($color) {
    $color-subdle: mix($color, white, 60%);
    background-image: repeating-linear-gradient(-45deg, $color-subdle 0 10px, lighten($color-subdle, 6%) 10px 20px);

    @include o-gantt-hover() {
        background-image: repeating-linear-gradient(-45deg, $color 0 10px, lighten($color, 6%) 10px 20px);
    }
}


// used for `color` attribute on <gantt>
@for $index from 2 through length($o-colors-complete) - 1 {
    &.o_dhx_gantt_color_#{$index - 1} {
        $gantt-color: nth($o-colors-complete, $index);

        @include o_dhx_hoverable_colors($gantt-color);

        &.decoration-info {
            @include o_dhx_decorations($gantt-color);
        }

        .gantt_task_content {
            @include o_dhx_text_colors($gantt-color);
        }
    }
}