$o-dhxgantt-colors: #f06050, #f4a460, #f7cd1f, #6cc1ed, #814968, #eb7e7f, #2c8397,
    #475577, #d6145f, #30c381, #9365b8, #aa4b6b, #30c381, #97743a, #f7cd1f, #4285f4,
    #8e24aa, #d6145f, #173e43, #348f50, #aa3a38, #795548, #5e0231, #6be585, #999966,
    #e9d362, #b56969, #bdc3c7, #649173 !default;

.o_dhx_gantt_root {
    /* width: 100%; */
    height: 100%;
}

.o_dhx_gantt {
    /* width: 100%; */
    height: 100%;
}

.o_dhx_gantt.gantt_container {
}

.o_dhx_gantt_header {
    background-color: white;
    min-height: 40px;
}

.o_dhx_button {
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.o_dhx_button_right {
    float: right;
    margin-right: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.o_dhx_gantt_weekend {
    background: #d7aed1 !important;
}

.o_dhx_error {
    background: #d61414 !important;
}

.o_dhx_gantt_hourleaves {
    background: #f1f1f1 !important;
    color: gray !important;
}

.o_dhx_gantt_session_color_match {
    background: #eef5ff !important;
}

@mixin o_dhx_hover() {
    &:hover,
    &:focus,
    &.ui-draggable-dragging,
    &.ui-resizable-resize {
        @content;
    }
}

@mixin o_dhx_border_colors($color) {
    $color-subdle: mix($color, black, 60%);
    border-color: $color-subdle;
}

@mixin o_dhx_background_colors($color) {
    $color-subdle: mix($color, white, 60%);
    background-color: $color-subdle;
}

@mixin o_dhx_background_colors_hover($color) {
    @include o_dhx_hover() {
        background-color: $color;
        color: color-yiq($color);
    }
}

@mixin o_dhx_text_colors($color) {
    $color-subdle: mix($color, white, 60%);
    color: color-yiq($color-subdle);
}

@mixin o_dhx_text_colors_hover($color) {
    @include o_dhx_hover() {
        color: color-yiq($color);
    }
}

@mixin o_dhx_background_decorations($color) {
    $color-subdle: mix($color, white, 60%);
    background-image: repeating-linear-gradient(
        -45deg,
        $color-subdle 0 10px,
        lighten($color-subdle, 6%) 10px 20px
    );
}

@mixin o_dhx_background_decorations_hover($color) {
    @include o_dhx_hover() {
        background-image: repeating-linear-gradient(
            -45deg,
            $color 0 10px,
            lighten($color, 6%) 10px 20px
        );
    }
}

@for $index from 1 through length($o-dhxgantt-colors) - 1 {
    .gantt_task_line {
        &.o_dhx_gantt_color_#{$index} {
            $gantt-color: nth($o-dhxgantt-colors, $index);

            @include o_dhx_border_colors($gantt-color);

            @include o_dhx_background_colors($gantt-color);
            @include o_dhx_background_colors_hover($gantt-color);

            &.decoration-info {
                @include o_dhx_background_decorations($gantt-color);
                @include o_dhx_background_decorations_hover($gantt-color);
            }

            .gantt_task_content {
                @include o_dhx_text_colors($gantt-color);
                @include o_dhx_text_colors_hover($gantt-color);
            }
        }
    }

    .gantt_row {
        &.o_dhx_gantt_color_#{$index} {
            .gantt_cell_tree {
                $gantt-color: nth($o-dhxgantt-colors, $index);

                border-width: 1px 0 0 0;
                border-style: solid;
                border-color: #fff;

                @include o_dhx_background_colors($gantt-color);

                .gantt_tree_content {
                    @include o_dhx_text_colors($gantt-color);
                }
            }
        }
    }
}
