.o_dhx_gantt_task_stage_analysis,
.o_dhx_gantt_task_stage_draft,
.o_dhx_gantt_task_stage_new {
    background-color: #8a99b1;
}

.o_dhx_gantt_task_stage_specification,
.o_dhx_gantt_task_stage_draft,
.o_dhx_gantt_task_stage_todo {
    background: repeating-linear-gradient(45deg,
            #de8736,
            #de8736 10px,
            #dd7b1f 10px,
            #dd7b1f 20px);
}

.o_dhx_gantt_task_stage_design,
.o_dhx_gantt_task_stage_development,
.o_dhx_gantt_task_stage_progress {
    background-color: #ff960f;
}

.o_dhx_gantt_task_stage_testing,
.o_dhx_gantt_task_stage_merge {
    background: repeating-linear-gradient(45deg,
            #368dde,
            #368dde 10px,
            #1174d1 10px,
            #1174d1 20px);
}

.o_dhx_gantt_task_stage_deployment,
.o_dhx_gantt_task_stage_done {
    background-color: #875121;
}

.o_dhx_gantt_task_stage_cancel {
    background-color: rgb(90, 90, 90);
}